.landingPage {
  background: url('../../Assets/Logos/bg.webp') no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0 100%); */
  background-attachment: fixed;
}
.landingPage::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0 100%); */
    opacity: 0.7;
    z-index: -1;
}
.aboutBoxes {
  width: 85%;
  margin: auto;
  margin-top: 2vmax;
  display: flex;
}
.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vmax 2vmax;
  border: 2px solid black;
  background: green;
  background: linear-gradient(
    180deg,
    #E74E00,
    rgba(0, 0, 0, 0.774) 100%
  );
  text-align: center;
}
.boxText span {
  font-size: 2vmax;
  font-weight: 500;
}
.boxText {
  font-size: 1.2vmax;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .aboutBoxes {
    flex-direction: column;
  }
  .aboutBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1vmax;
  }
  .aboutIntroSection {
    flex-direction: column;
    width: 100%;
  }
  
}